html {
	--colour-p1: #067EB1;
	--colour-cpu: #363636;
	--colour-win: #048159;
	--colour-lose: #aa330b;

	/* Font colours */
	--colour-text-default: #292524;
	--colour-text-inverse: var(--colour-bg-body);
	--colour-text-card: var(--colour-text-default);
	--colour-text-table: var(--colour-text-default);
	--colour-text-sidebar-accent: var(--colour-text-default);
	--colour-text-default-data-block: var(--colour-bg-body);
	--colour-text-default-data-button: var(--colour-text-default);
	--colour-text-nextcardbutton: var(--colour-text-card);
	--colour-text-external-link: #392ead;
	--colour-text-external-link-visited: #292524;
	--colour-text-tooltip: var(--colour-text-inverse);
	--colour-text-button-accent: var(--colour-text-inverse);
	--colour-text-button-p1options: #fff;
	--colour-text-history-item: var(--colour-text-default);
	--colour-text-action: var(--colour-bg-sidebar-main);
	
	/* Background colours */
	--colour-bg-body: #fafafa;
	--colour-bg-card-front: #fafafa;
	--colour-bg-card-back: #7e7e7e;
	--colour-bg-sidebar-main: #38bdf8;
	--colour-bg-history-container: #d4d4d8;
	--colour-bg-history-item: #e2e8f0;
	--colour-bg-sidebar-accent: #d4d4d8;
	--colour-bg-default-data-block: #292524;
	--colour-bg-default-data-button: var(--colour-bg-sidebar-accent);
	--colour-bg-table-header: #aa330b;
	--colour-bg-table-odd: #d4d4d8;
	--colour-bg-table-even: #e2e8f0;
	--colour-bg-p1options-container: var(--colour-bg-body);
	--colour-bg-button-p1options: var(--colour-p1);
	--colour-bg-button-shine: #eee;
	--colour-bg-button-primary: var(--colour-bg-sidebar-main);
	--colour-bg-button-accent: #4338ca;
	--colour-bg-selection: var(--colour-bg-sidebar-main);
	--colour-bg-tooltip: var(--colour-text-default);

	/* Outline colours */
	--colour-outline-button: var(--colour-text-default);
	--colour-outline-default-data-button: #fff;
	--colour-outline-icon: var(--colour-text-default);

	/* Shadow colours */
	--colour-sidebar-shadow: rgba(31, 38, 135, 0.37);
}

html[theme="dark"] {
	--colour-p1: #beb483;
	--colour-cpu: #858585;
	--colour-win: #406c13;
	--colour-lose: #710b0b;

	/* Font colours */
	--colour-text-default: #fff;
	--colour-text-inverse: var(--colour-bg-body);
	--colour-text-card: var(--colour-bg-body);
	--colour-text-table: var(--colour-text-default);
	--colour-text-sidebar-accent: var(--colour-text-default);
	--colour-text-default-data-block: var(--colour-text-default);
	--colour-text-default-data-button: var(--colour-text-inverse);
	--colour-text-nextcardbutton: var(--colour-text-card);
	--colour-text-external-link: #000;
	--colour-text-external-link-visited: #222;
	--colour-text-tooltip: var(--colour-text-inverse);
	--colour-text-button-accent: var(--colour-text-inverse);
	--colour-text-button-p1options: var(--colour-bg-body);
	--colour-text-history-item: var(--colour-text-default);
	--colour-text-action: var(--colour-bg-sidebar-main);

	/* Background colours */
	--colour-bg-body: #000;
	--colour-bg-card-front: #c5c5c5;
	--colour-bg-card-back: #7e7e7e;
	--colour-bg-sidebar-main: #858585;
	--colour-bg-history-container: #000;
	--colour-bg-history-item: #000;
	--colour-bg-sidebar-accent: #0f0f0f;
	--colour-bg-default-data-block: #444;
	--colour-bg-default-data-button: var(--colour-bg-sidebar-main);
	--colour-bg-table-header: #919191;
	--colour-bg-table-odd: #000;
	--colour-bg-table-even: #32302f;
	--colour-bg-p1options-container: var(--colour-bg-body);
	--colour-bg-button-p1options: #928374;
	--colour-bg-button-shine: #eee;
	--colour-bg-button-primary: #928374;
	--colour-bg-button-accent: #9c8d81;
	--colour-bg-selection: var(--colour-bg-sidebar-main);
	--colour-bg-tooltip: var(--colour-text-default);

	/* Outline colours */
	--colour-outline-button: var(--colour-text-default);
	--colour-outline-default-data-button: #ccc;
	--colour-outline-icon: var(--colour-text-default);

	/* Shadow colours */
	--colour-sidebar-shadow: rgba(133, 133, 133, 0.37);
}

html[theme="gruvbox"] {
	--colour-p1: #fabd2f;
	--colour-cpu: #a89984;
	--colour-win: #b8bb26;
	--colour-lose: #fb4934;

	/* Font colours */
	--colour-text-default: #fbf1c7;
	--colour-text-inverse: var(--colour-bg-body);
	--colour-text-card: var(--colour-bg-body);
	--colour-text-table: var(--colour-text-default);
	--colour-text-sidebar-accent: #282828;
	--colour-text-default-data-block: var(--colour-text-default);
	--colour-text-default-data-button: #282828;
	--colour-text-nextcardbutton: var(--colour-text-card);
	--colour-text-external-link: #282828;
	--colour-text-external-link-visited: #3c3836;
	--colour-text-tooltip: var(--colour-text-inverse);
	--colour-text-button-accent: #0f0f0f;
	--colour-text-button-p1options: var(--colour-bg-body);
	--colour-text-history-item: var(--colour-text-default);
	--colour-text-action: var(--colour-bg-sidebar-main);

	/* Background colours */
	--colour-bg-body: #282828;
	--colour-bg-card-front: #fbf1c7;
	--colour-bg-card-back: #a89984;
	--colour-bg-sidebar-main: #83a598;
	--colour-bg-history-container: #3c3836;
	--colour-bg-history-item: #282828;
	--colour-bg-sidebar-accent: #689d6a;
	--colour-bg-default-data-block: #1d2021;
	--colour-bg-default-data-button: #a89984;
	--colour-bg-table-header: #d3869b;
	--colour-bg-table-odd: #32302f;
	--colour-bg-table-even: #504945;
	--colour-bg-p1options-container: var(--colour-bg-body);
	--colour-bg-button-p1options: #b16286;
	--colour-bg-button-shine: #eee;
	--colour-bg-button-primary: #d3869b;
	--colour-bg-button-accent: var(--colour-bg-button-primary);
	--colour-bg-selection: var(--colour-bg-sidebar-main);
	--colour-bg-tooltip: var(--colour-text-default);
	
	/* Outline colours */
	--colour-outline-button: var(--colour-text-default);
	--colour-outline-default-data-button: var(--colour-outline-button);
	--colour-outline-icon: var(--colour-text-default);

	/* Shadow colours */
	--colour-sidebar-shadow: rgba(131, 165, 152, 0.37);
}

*,
*::after,
*::before,
body,
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::selection {
	background-color: var(--colour-bg-selection);
	color: var(--colour-bg-body);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-basis: 50%;
	height: 100vh;
	width: 100vw;
	overflow: visible;
	background-color: var(--colour-bg-body);
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

body > * {
	margin: 1rem;
}

.deck {
	height: 100%;
	width: 100%;
	border: 1px solid var(--colour-text-default);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 9vh;
	border-radius: 0.5rem;
	color: var(--colour-text-inverse);
	user-select: none;
}

.cpuDeck {
	background-color: var(--colour-bg-card-back);
}

.p1Deck {
	background-color: var(--colour-bg-card-back);
}

.text {
	font-weight: 800;
	color: var(--colour-text-default);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 10%;
	width: 100%;
	padding: 1vh;
	user-select: none;
}

.playerText {
	grid-column: 1 / span 2;
	margin: auto;
	color: var(--colour-text-default);
}

.player1Text {
	color: var(--colour-p1);
}

.cpuText {
	color: var(--colour-cpu);
}

.historytext {
	display: block;
	height: 4em;
}

.card {
	position: relative;
	height: 100%;
	width: 100%;
	border: 1px solid var(--colour-outline-button);
	border-radius: 10%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-top: 20%;
	font-size: 7vh;
	user-select: none;
	transform-origin: left;
	background: var(--colour-bg-card-front);
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	z-index: 2;
}

.card.backface {
	transform: rotateY(-180deg);
}

.card::before,
.card::after {
	position: absolute;
	font-size: 1vh;
	white-space: pre;
	bottom: 10%;
	height: 35%;
	color: var(--colour-text-card);
}

.card::before {
	content: attr(data-value);
	right: 10%;
	text-align: center;
}

.card::after {
	content: attr(data-attribs);
	left: 10%;
	text-align: left;
	font-weight: 700;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 14vh);
	grid-template-rows: 14vh;
	padding: 1vh 1vw;
	position: relative;
}

.container.cpu {
	grid-template-rows: 5vh 21vh;
}

.container.p1 {
	grid-template-rows: 5vh 21vh;
}

.container.game {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	min-width: 50vw;
}

.container.button {
	position: relative;
	padding: 5%;
	grid-template-columns: 100%;
	grid-template-rows: repeat(5, 6vh);
	border-collapse: collapse;
	border-radius: 10%;
	background-color: var(--colour-bg-p1options-container);
	z-index: 0;
	justify-items: center;
	padding-left: 2vw;
	padding-right: 2vw;
}

.container.button.transparent {
	border-color: transparent;
	background-color: transparent;
	color: transparent;
}

#optionsHeader {
	margin-top: 3%;
}

button {
	user-select: none;
	cursor: pointer;
	color: var(--colour-text-default);
	text-align: center;
	text-decoration: none;
	border-radius: 6px;
	border: 1px solid var(--colour-outline-button);
	padding: 1vh 5vw;
	margin: 1%;
	box-shadow: 0 0 5px 1px rgba(31, 38, 135, 0.37);
}

button.p1Option {
	width: 100%;
	height: 5vh;
	min-width: 18ch;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2vh;
	font-weight: 700;
	background-color: var(--colour-bg-button-p1options);
	color: var(--colour-text-button-p1options);
	outline: 1px solid transparent;
	outline-offset: -2px;
	position: relative;
	margin: 2% 0;
}

button.p1Option::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 11px;
	animation: button-shine 10s ease-in 11.5s infinite;
	opacity: 0.4;
	background: linear-gradient(
		to bottom right,
		transparent,
		transparent 45%,
		var(--colour-bg-button-shine) 50%,
		transparent 55%
	);
	background-size: 300% 400%;
	background-position: left;
}

.container.button button:nth-of-type(2n)::before {
	animation-delay: 11s;
}

.container.button button:nth-of-type(3n)::before {
	animation-delay: 10.5s;
}

.container.button button:nth-of-type(4n)::before {
	animation-delay: 10s;
}

@keyframes button-shine {
	0% {
		background-position: left;
	}
	10% {
		background-position: right;
	}
	11% {
		opacity: 0;
		background-position: left;
	}
}

button.p1Option:hover,
button.p1Option:focus {
	opacity: 0.8;
	border-radius: 0;
	outline-color: var(--colour-grey-400);
}


button.p1Option:active {
	transform: translateY(1px);
}

.container.history {
	border: 1px solid var(--colour-text-default);
	border-radius: 1rem;
	max-height: 60%;
	min-height: 30vh;
	margin: 1vw;
	display: flex;
	flex-direction: column;
	width: 30%;
	background: var(--colour-bg-history-container);
	font-size: 0.8rem;
}

.historyItems {
	max-height: 70vh;
	overflow-y: auto;
}

.historyTitle {
	font-size: 1rem;
	font-weight: 700;
	width: 100%;
	margin: 5%;
	user-select: none;
	color: var(--colour-text-default);
}

.historyItem {
	margin: 2vh auto;
	border: 2px solid var(--colour-win);
	border-radius: 0.1rem;
	padding: 2% 10%;
	width: 85%;
	color: var(--colour-text-history-item);
	background-color: var(--colour-bg-history-item);
	animation: history-fade-in ease-in 0.4s;
}

@keyframes history-fade-in {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}

.historyItem.cpu {
	border-color: var(--colour-lose);
}

.historyItem.draw {
	border-color: var(--colour-outline-default-data-button);
}

.CPUHistoryText {
	color: var(--colour-cpu);
	font-weight: 900;
}

.p1HistoryText {
	color: var(--colour-p1);
	font-weight: 900;
}

.actionPlayed {
	color: var(--colour-text-action);
	font-weight: 900;
}

.historyItem.endgame {
	border: 2px dashed var(--colour-win);
}

.historyItem.cpuWin {
	color: var(--colour-lose);
	border-color: var(--colour-lose);
	font-weight: 700;
}

.container.showhistory {
	display: none;
	justify-content: center;
	align-items: center;
	height: 60px;
	width: 60px;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: unset;
	z-index: 60;
}

#showHistoryButton {
	border: none;
	background-color: transparent;
	border-radius: 50%;
	padding: 0.3rem;
	height: 100%;
	width: 100%;
	z-index: 99;
	box-shadow: none;
}

#showHistorySVG path {
	stroke: var(--colour-text-default);
	fill: transparent;
}

#closeHistoryButton {
	visibility: hidden;
	position: absolute;
	border: none;
	background-color: transparent;
	border-radius: 50%;
	padding: 0.3rem;
	height: 40px;
	width: 40px;
	box-shadow: none;
	right: 4%;
}

#closeHistorySVG path {
	stroke: transparent;
	fill: var(--colour-text-default);
	z-index: 98;
}

.container.restart {
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 10%;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: unset;
	z-index: 11;
}

#restartButton {
	border: none;
	background-color: transparent;
	border-radius: 50%;
	padding: 0.3rem;
	height: 100%;
	width: 100%;
	box-shadow: none;
}

#restartIcon path {
	stroke: var(--colour-outline-button);
}

.tooltiptext {
	visibility: hidden;
	width: 110px;
	background-color: var(--colour-bg-tooltip);
	color: var(--colour-text-tooltip);
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	/* Position the tooltip text */
	position: absolute;
	z-index: 9;
	bottom: 25%;

	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s, transform 0.3s;
	transform: scale(0);
}

.tooltiptext.toolright {
	right: -150%;
	margin-right: -50px;
	transform-origin: left;
}

.tooltiptext.toolleft {
	left: -150%;
	margin-left: -30px;
	transform-origin: right;
}

.tooltiptext::after {
	content: "";
	position: absolute;
	z-index: 9;
	top: calc(50% - 5px);
	border-width: 5px;
	border-style: solid;
}

.tooltiptext.toolright::after {
	border-color: transparent var(--colour-bg-tooltip) transparent transparent;
	margin-left: 5px;
	right: 100%;
}

.tooltiptext.toolleft::after {
	border-color: transparent transparent transparent var(--colour-bg-tooltip);
	margin-right: 5px;
	left: 100%;
}

/* Show the tooltip text when you mouse over the tooltip container */
#restartButton:hover .tooltiptext,
#restartButton:focus .tooltiptext,
#showHistoryButton:hover .tooltiptext,
#showHistoryButton:focus .tooltiptext {
	visibility: visible;
	opacity: 1;
	transform: scale(1);
}

#restartButton:hover,
#restartButton:focus,
#showHistoryButton:hover,
#showHistoryButton:focus {
	background: transparent;
	opacity: 95%;
}

.hidden {
	visibility: hidden;
	display: none;
	opacity: 0;
}

.historytext.hidden {
	display: block;
}

.container.nextCard {
	display: flex;
	justify-content: center;
	align-items: center;
}

#nextCardButton {
	background-color: var(--colour-bg-button-primary);
	color: var(--colour-text-nextcardbutton);
	font-size: 2vh;
	outline: 1px solid transparent;
	outline-offset: -3px;
	margin: 2vh;
	border-radius: 1px;
	z-index: 5;
	margin-top: 10vh;
}

#nextCardButton.inactive,
#nextCardButton.inactive:hover,
#nextCardButton.inactive:focus {
	display: none;
}

#nextCardButton:hover,
#nextCardButton:focus {
	border-radius: 0;
	outline-color: var(--colour-bg-button-shine);
}

#csvData {
	display: none;
}

.container.hamburger {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 70px;
	height: 70px;
	top: 0;
	right: 0;
	padding: 0;
	z-index: 90;
}

#hamburgerButton {
	height: 100%;
	width: 100%;
	padding: 15%;
	background: transparent;
	border: none;
	z-index: 2;
	position: relative;
	box-shadow: none;
}

#hamburgerSVG,
#hamburgerSVG path {
	z-index: 0;
}

#hamburgerSVG, #restartIcon {
	stroke: var(--colour-text-default);
	fill: transparent;
}

.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	width: 40%;
	min-width: 400px;
	max-width: 500px;
	height: 100%;
	background-color: var(--colour-bg-sidebar-main);
	z-index: 89;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	padding: 0;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
	box-shadow: 0 8px 32px 0 var(--colour-shadow-sidebar);
}

.sidebar ::selection {
	color: var(--colour-bg-body);
	background-color: var(--colour-text-default);
}

.sidebar.hidden {
	visibility: visible;
	transform: translateX(100%);
}

.sidebar > * {
	padding: 10%;
}

.instructions > h1:last-of-type {
	padding: 10% 0;
}

.instructions table {
	margin: 3em 0;
	color: var(--colour-text-table);
}

.instructions table,
.instructions th,
.instructions td {
	border-collapse: collapse;
}

.instructions tr:nth-of-type(odd) {
	background-color: var(--colour-bg-table-odd);
} 

.instructions tr:nth-of-type(even) {
	background-color: var(--colour-bg-table-even);
} 

.instructions tr:nth-of-type(1) {
	background-color: var(--colour-bg-table-header);
	color: var(--colour-text-inverse);
}

.instructions th,
.instructions td {
	padding: 5px;
	text-align: left;
}

.container.uploadInformation {
	display: inline-block;
	height: 1em;
	padding: unset;
	margin: unset;
	cursor: help;
}

#uploadInformation {
	height: 100%;
	padding-left: 0.3em;
	stroke: var(--colour-text-sidebar-accent);
}

.container.uploadInformation #uploadInformationText,
#uploadInformation #uploadInformationText {
	visibility: hidden;
	position: absolute;
	padding: 1em;
	min-width: 30ch;
	font-size: 0.8rem;
	left: 0;
	top: 0;
	transform: translate(calc(-60% - 20px), calc(-100% - 10px));
	background-color: var(--colour-bg-body);
	color: var(--colour-text-default);
	border: 1px solid var(--colour-outline-default-data-button);
	border-radius: 10px;
}

#uploadInformationText table {
	margin: 0.5em 0;
}

#uploadInformationText table,
#uploadInformationText th {
	border: 1px solid var(--colour-text-default);
	border-width: 1px 0 1px 0;
	border-collapse: collapse;
}

#uploadInformationText th {
	padding: 5px;
}

.container.uploadInformation:hover #uploadInformationText,
.container.uploadInformation:focus #uploadInformationText,
.container.uploadInformation:active #uploadInformationText {
	visibility: visible;
}

#submitData {
	background-color: var(--colour-bg-button-accent);
	color: var(--colour-text-button-accent);
	padding: 1em 3em;
	margin: 0.5em;
	font-size: 0.9rem;
	font-weight: 500;
	box-shadow: 0 0 10px 1px rgba(31, 38, 135, 0.37);
	transition: opacity 0.05s ease-out;
}

#submitData:hover,
#submitData:focus {
	opacity: 0.85;
}

.setupInputs {
	background-color: var(--colour-bg-sidebar-accent);
	color: var(--colour-text-sidebar-accent);
	padding: 5% 10%;
}

.setupInputs h2 {
	font-size: 1.2rem;
	padding-bottom: 1em;
}

.setupInputs p {
	font-size: 0.8rem;
	padding: 0.7em;
}

.ital {
	font-style: italic;
}

.container.defaultdata {
	display: flex;
	align-items: center;
	margin-top: 2em;
	background-color: var(--colour-bg-default-data-block);
	opacity: 90%;
}

.container.defaultdata {
	color: var(--colour-text-default-data-block);
}

.container.defaultdata ::selection {
	color: var(--colour-text-default);
	background-color: var(--colour-bg-sidebar-accent);
}

#defaultData {
	background-color: var(--colour-bg-default-data-button);
	color: var(--colour-text-default-data-button);
	font-size: 0.75rem;
	padding: 1.5em;
	border-radius: 10px;
	border-color: var(--colour-outline-default-data-button);
	margin: 0.5em;
	min-width: 20ch;
	transition: opacity 0.3s ease-out;
}

#defaultData:hover,
#defaultData:focus,
#defaultData:active {
	opacity: 0.85;
}

.about-footer {
	width: 100%;
	user-select: none;
	padding-top: 8%;
	padding-bottom: 5%;
}

.external-link {
	color: var(--colour-text-external-link);
}

.external-link:visited {
	color: var(--colour-text-external-link-visited);
}

#overlay {
	visibility: hidden;
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--colour-bg-body);
	opacity: 0%;
	transition: opacity 0.4s ease;
	margin: 0;
	padding: 0;
}

@media only screen and (max-width: 600px) {
	.text {
		font-size: 0.9em;
		height: 9%;
	}

	#overlay {
		background-color: var(--colour-sidebar-shadow);
		z-index: 98;
	}

	#overlay.visible {
		visibility: visible;
		opacity: 100%;
	}

	.container.history {
		display: none;
	}

	.container.history.popup {
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(50%, 50%);
		width: 50vw;
		height: 50vh;
		z-index: 99;
	}

	.container.showhistory {
		display: flex;
	}

	#closeHistoryButton {
		visibility: visible;
	}

	.container.nextCard {
		right: 2vw;
	}

	.sidebar {
		min-width: unset;
		max-width: 100%;
		width: 100%;
	}

	.container.nextCard {
		left: 0;
		right: 0;
		z-index: 8;
		width: 100%;
		padding: 0;
		margin: 0;
	}

	#nextCardButton {
		padding: 2vh 11vw;
	}
}
